/* login.scss */
.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.homepage main {
  flex: 1;
  overflow-y: scroll;
}


.login-page {
  // Background image with transparent linear gradient overlay
  background: 
    linear-gradient(rgba(56, 189, 150, 0.7), rgba(26, 87, 69, 0.7)),
    url('../assets/images/home-bg-web.png'); // Replace with actual image name
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  // Responsive layout adjustments
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 2rem;
    background:linear-gradient(rgba(56, 189, 150, 0.7), rgba(26, 87, 69, 0.7)),
      url('../assets/images/home-bg-mobile.png'); // Mobile-specific background
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 769px) {
    .login-form {
      width: 400px;
    }
  }
}