.container {
    min-height: 100vh;
    text-align: center;
    gap: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* background-color: green; */
    
  }

  .bottomNav{
    display: flex;
    position: fixed;
    border: solid rgb(213, 213, 213) 0.5px;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    /* background-color: pink; */
    min-height: 4em;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(173, 11, 38); */
    margin: 0px;
    min-height: 90vh;
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    .appLogo {
      animation: App-logo-spin infinite 10s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  