.sidebar {
    display: none;
}

.offSidebar {
    display: none;
}


  @media only screen and (max-width: 600px) {
     .sidebar {
        display: block;
        position: fixed;
        z-index: 1500;
        min-height: 100vh;
        width: 75%;
        top: 0px;
        right: 0px;
        transform: translateX(0%);
        transition: transform ease-in 0.5s;
    }
    
    .offSidebar {
        display: block;
        position: fixed;
        z-index: 1500;
        min-height: 100vh;
        width: 75%;
        top: 0px;
        right: 0px;
        transform: translateX(100%);
        transition: transform ease-in 0.5s;
    }
  }